.top-bar, .top-bar a, .top-bar ul {
    background-color: #1CABA0;
    color: white;
}

.top-bar button {
    border-radius: 100px;
    border-color: white;
    background-color: #1CABA0;
}

.top-bar img {
    width: 15%;
}